@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Select which set of questions you would like to answer from the menu above.</p>
</div>
